@charset "utf-8";

#menubar{
	background-color: #61b15a;
	
}

#nav-placeholder{
	box-shadow: 0 6px 2px -2px rgba(0,0,0,.2);
}

body {
	min-width: 900px;
	background-color: #ffffff;
}

.container{
	max-width: 900px;
	min-height: 500px;
	margin-top:80px;
	padding:0;
}

div{
	top:0;
	left:0;
}

.row{
	width:100%;
	margin-left:0px;
	margin-right:0px;
}
