@charset "utf-8";

/*background-color:#cc3399;*/

#menubar{
	background-color: #61b15a;
	
}

#nav-placeholder{
	box-shadow: 0 6px 2px -2px rgba(0,0,0,.2);
}

#footer-placeholder{
	background-color: #61b15a;
}

.btn-primary{
	background-color: #335d2d;
	border-color: #335d2d;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
	background-color: #adce74;
	border-color: #adce74;
}

body {
	min-width: 900px;
	background-color: #ffffff;
}

.container{
	max-width: 900px;
	margin-top:50px;
	padding:0;
}

	#boardTitle {
		background-color:transparent;
	}
	
	#boardRest {
		background-color:transparent;
	}
	
		#tableArea {
			border-radius: 1%;
			background-color:#ffffff;
			width:100%;	
		}
		
		#buttonArea {
			width:100%;
			margin-top: 0px;
			padding:0;
		}
		
		#paginavArea {
			width:100%;
			height:38px;
			margin-top:5px;	
		}
		
		#searchArea {
			margin-top:30px;
			width:100%;
			
		}
		

.row{
	width:100%;
	margin-left:0px;
	margin-right:0px;
}		

.table{
	height: fit-content;
	margin: 0;
	border: 1px solid #ddd;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}   

#thRow{
	background-color:#dedede;
}

#boardlist {
	line-height:1.1;
	text-align:center;
	cursor: pointer;
}

#boardInfo{
	padding:0;
	vertical-align: text-bottom;
	padding-top
}

.custom-select{
	width: 130px;
	text-align: right;
}

#pageSelectCol{
	padding:0;
}

#boardPageInfo{
	margin-top:0;
}

.page-item.active .page-link{
	background-color: #adce74;
	border-color: #adce74;
}

.page-link{
	color: #28a745;
}

hr{
	margin-bottom:0px;
}

td{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

