@charset "utf-8";

#menubar{
	background-color: #61b15a;
	
}

#nav-placeholder{
	box-shadow: 0 6px 2px -2px rgba(0,0,0,.2);
}

#footer-placeholder{
	background-color: #61b15a;
}

body {
	min-width: 900px;
	background-color: #ffffff;
}

.container{
	max-width: 900px;
	min-height: 500px;
	margin-top:50px;
	padding:0;
}

.btn-primary{
	background-color: #335d2d;
	border-color: #335d2d;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
	background-color: #adce74;
	border-color: #adce74;
}

div{
	top:0;
	left:0;
}

p{
	margin:0;
}

.row{
	width:100%;
	margin-left:0px;
	margin-right:0px;
}

#postContent{
	margin-top: 20px;
	width: 100%;
}

.ck-editor__editable{
	min-height: 400px;
	width: 900px;
}

#postUpload{
	margin-top: 20px;
	width: 900px;	
}

#dropZone{
	width:900px;
	height:100px;
	background-color: #e6e6e6;
}

#dropZone div {
	text-align: center;
	margin-bottom: 0px;
	height:90px;
	border: 4px dashed #808080;
}

#dropZone div p{
	vertical-align: middle;
}

#progress{
	position:relative;
	width: 100%; 
	border: 1px solid #ddd; 
	padding: 1px;
	border-radius: 3px;
}
#bar{
	background-color: #337ab7;
	width:0%;
	height:20px;
	border-radius: 3px;
}
#percent{
	position:absolute;
	display:inline-block;
	top:1px;
	left:48%;
}
#uploaded{
	background-color: #e6e6e6;
}


#fileinput{
	display:none;
}
		
