@charset "utf-8";

body {
	background-color: #f3f2f2;
}

p{
	margin-bottom:0px;
}

.container{
	max-width: 900px;
	min-height: 500px;
	margin-top:80px;
	padding:0;
}

div{
	top:0;
	left:0;
}

.row{
	width:100%;
	margin-left:0px;
	margin-right:0px;
}

#postContent{
	/* background-color: #ffffff; */
	min-height: 400px;
}

#commentContent{
	resize: none;
	width: 900px;
}

#mainCommentRow{
	margin-top:30px;
}

#coComentRow{
	width:100%;
}