@charset "utf-8";

/*background-color:#cc3399;*/

#menubar{
	background-color: #61b15a;
	
}

#nav-placeholder{
	box-shadow: 0 6px 2px -2px rgba(0,0,0,.2);
}

#footer-placeholder{
	background-color: #61b15a;
}

body {
	min-width: 900px;
	background-color: #ffffff;
}

.btn-primary{
	background-color: #335d2d;
	border-color: #335d2d;
}

.btn-primary:hover{
	background-color: #adce74;
	border-color: #adce74;
}

.container{
	max-width: 900px;
	margin-top:50px;
	padding:0;
}
		
.row{
	width:100%;
	margin-left:0px;
	margin-right:0px;
}		

.table{
	height: fit-content;
	margin: 0;
}

#boardlist {
	line-height:1.1;
	text-align:center;
	cursor: pointer;
}
a {
	color: #484b52;
}

#cateId{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;


}


