@charset "utf-8";

/*background-color:#cc3399;*/

body {
	background-color: #f3f2f2;
}

.container{
	max-width: 900px;
	margin-top:50px;
	padding:0;
}
		

.row{
	width:100%;
	margin-left:0px;
	margin-right:0px;
}		

.table{
	height: fit-content;
	margin: 0;
}

#boardlist {
	line-height:1.1;
	text-align:center;
	cursor: pointer;
}

