body {
    background-color: #12691d;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#12691d', endColorstr='#919c00');
    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #12691d), color-stop(100%, #919c00));
    background-image: -webkit-linear-gradient(135deg, #12691d, #919c00);
    background-image: -moz-linear-gradient(45deg, #12691d, #919c00);
    background-image: -ms-linear-gradient(45deg, #12691d 0, #919c00 100%);
    background-image: -o-linear-gradient(45deg, #12691d, #919c00);
    background-image: linear-gradient(135deg, #12691d, #919c00);
    text-align: center;
    margin: 0px;
    overflow: hidden;
}

.container{
	justify-content:center;
	
}

.inner{
	text-align:center;
	color: whitesmoke;
	overflow: hidden;
	padding: 0.4em;
	margin-top: 10em;
}

.inner > h1{
	font-size:3.5em;
	animation: Slide_Up 1.4s ease;
}
.inner>p{
	font-size:1.2em;
	animation: Slide_Up 2.1s ease;
}
.inner > button{
	margin-top:2em;
	padding:1em 2.5em;
	font-size:1em;
	border-radius:4em;
	border:none;
	animation: Slide_Up 2.3s ease;
}


@keyframes Slide_Up{
	0% {
	transform: translateY(250px);
	}
	100% {
	transform: translateY(0px);
	}

}
